:root{
    --light-color : #fff;
    --dark-color : green;
    --header-height : 70px;
    --search-height : 50px;
    --border-color :#ccc;

}


* {
margin: 0;
padding:0;
box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100vw;
    background: var(--light-color);

}

.container{
    text-align: center;
    height: calc(100vh - var(--header-height));
}

header{
    height: var(--header-height);
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--light-color);
    gap: 10px;
    padding-right: 30px;

}

header img{
    filter: invert(1);
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--search-height);
    gap:10px;
    box-shadow: 0px 2px 8px 0px var(--border-color);
}

.search input[type="text"] {
    padding: 8px 10px;
    line-height: 1.5;
    font-size: 1rem;
    border: none;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    outline: none;
    transition: all 200ms ease-in-out;
    width: 60%;

}

.search input[type="text"]:focus {
    border-left-color: transparent;
    border-bottom-color: var(--border-color);
    width:61%
}

.btn {
    padding: 8px 10px;
    background: transparent;
    border-radius: 2px;
    user-select: none;
    font-size: 1rem;
    border: 1px solid violet;
    cursor: pointer;


}
.btn:hover {
    background: violet;
    border-color: var(--dark-color);
    color:var(--light-color)
}

#receipe-container {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.receipe {
    height: 300px;
    width: 300px;
    padding: 4px;
    box-shadow: 0px 0px 8px 2px var(--border-color);
    margin: 20px;
}

.receipe-title {
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.receipe-img {
    height: 10px;
}
.receipe-img img {
    height: 100%;
    width: 100%;
}

.receipe-text {
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.receipe-text ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
}

.receipe-text ul > li {
    padding: 5px;
}